.hero {
    background-color: $veryLightGray;
    .container {
        @include breakpoint-up(large) {
            height: 42rem;
            display: flex;
            align-items: center;
        }
    }
    &__image {
        position: relative;
        background-image: url('/images/bg-intro-mobile.svg'); // mobile de entrada
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        @include breakpoint-up(medium) {
            min-height: 25rem;
            background-position: center 60%;
        }
        @include breakpoint-up(large) {
            flex: 3; // height equal to all flex childs
            order: 2; // order of appearence in flex childs
            height: 100%;
            background-image: none;
            // background-image: url('/images/bg-intro-desktop.svg');
            // background-position: left center;
        }
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            @include breakpoint-up(large) {
                background-image: url('/images/bg-intro-desktop.svg'); // en escritorio
                background-repeat: no-repeat;
                background-position: center bottom;
                width: 150%;
                background-size: 122%;
                background-position: 0% 83%;
            }
        }
        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url('/images/image-mockups.png');
            background-size: 95%;
            background-repeat: no-repeat;
            background-position: center bottom;
            @include breakpoint-up(medium) {
                background-size: 52%;
            }
            @include breakpoint-up(large) {
                height: 120%;
                width: 122%;
                background-size: 94%;
                background-repeat: no-repeat;
                background-position: center 150%; // to avoid overlapping
                left: 22%;
            }
        }
    }
    &__text {
        text-align: center;
        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
        h1 {
            margin-bottom: 1.5rem;
            font-weight: 300;
            font-size: 2.31rem;
            line-height: 1.15;
            color: $darkBlue;
            @include breakpoint-up(large) {
                font-size: $font-xl;
            }
        }
        p {
            line-height: 1.5;
            margin-bottom: 2.25rem;
        }
    }
}